@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff6a33;
  --border-primary: #262626;
  --yellow: #ffd644;
  --blue: #4b96ff;
  --red: #ff4545;
  --green: #30c85e;
  --border-yellow: #ffe58f;
  --border-blue: #4b96ff;
  --border-red: #ff4545;
  --border-green: #30c85e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-border-primary: var(--border-primary);
  --color-border-yellow: var(--border-yellow);
  --color-border-blue: var(--border-blue);
  --color-border-red: var(--border-red);
  --color-border-green: var(--border-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
