@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue-100: #e8f2ff;
  --color-blue-500: #4b96ff;
  --color-slate-500: #a9adc1;
  --color-gray-100: #f7f7f7;
  --color-gray-200: #e6e9ee;
  --color-gray-300: #dde0e4;
  --color-gray-400: #818890;
  --color-gray-500: #535661;
  --color-gray-600: #4b4c53;
  --color-gray-700: #3a3d4a;
  --color-gray-800: #2e3039;
  --color-gray-900: #1f2028;
  --color-green-100: #e7f9ed;
  --color-green-500: #30c85e;
  --color-green-600: #68d94a;
  --color-red-500: #ff4545;
  --color-yellow-500: #ffd644;
  --color-team-unknown: #818890;
  --color-team-blue: #36a3ff;
  --color-team-red: #ff4545;
  --color-team-yellow: #846901;
  --color-yellow-500: #846901;
  --color-yellow-500-inverted: #ffd644;
}

@layer utilities {
  .text-primary {
    @apply text-black dark:text-white;
  }
  .text-secondary {
    @apply text-gray-500 dark:text-slate-500;
  }
  .bg-primary {
    @apply bg-white dark:bg-gray-900;
  }
  .bg-secondary {
    @apply bg-gray-100 dark:bg-gray-800;
  }
  .bg-sidebar-item {
    @apply bg-gray-200 dark:bg-gray-800;
  }
  .border-primary {
    @apply border-gray-900 dark:border-white;
  }
  .border-secondary {
    @apply border-gray-200 dark:border-gray-600;
  }
  .hover-primary {
    @apply hover:bg-black hover:text-white dark:hover:bg-gray-600;
  }
  .hover-secondary {
    @apply hover:text-black dark:hover:text-white;
  }
  .hover-sidebar-item {
    @apply hover:bg-gray-200 hover:text-black dark:hover:bg-gray-800 dark:hover:text-white;
  }
}
